[submodule "frontend/client"]
	path = frontend/client
	url = https://github.com/Matts966/gaming-next.git
[submodule "backend/Mask_RCNN"]
	path = backend/Mask_RCNN
	url = https://github.com/matterport/Mask_RCNN.git
[submodule "dns-register"]
	path = dns-register
	url = https://github.com/Matts966/dns-register
